[2016-07-18 11:07] dirknilius opened #13 "Ordering function cannot be used with 'as'"
I'm migrating from `squeel` to `baby-squeel` and found a case which worked fine in `squeel` but not in `baby-squeel`. `selecting` an virtual column with `as` syntax cannot be used for `ordering`.

Example:
[code]

This works in `squeel`:
[code]

This produces:
[code]

Would be great to have this feature :-)

[2016-07-18 14:14] rzane commented on #13
I think this would get the job done:

[code]

Squeel uses backticks as a shorthand for `Arel::Nodes::SqlLiteral`. BabySqueel offers the `sql` method for this.

[2016-07-18 14:30] dirknilius commented on #13
@rzane Allright, this works :) Maybe you want to add this to the docs.

[2016-07-18 14:33] rzane commented on #13
Yes, I definitely will. Thank you for inquiring!

[2016-07-18 14:33] #13 closed

[2016-07-18 19:37] rzane commented on #13
For more info, see: https://github.com/rzane/baby_squeel#helpers

[2016-07-19 02:01] kbaum opened #14 "support for my{some_method}"
Trying to drop in baby_squeel as a replacement for squeel to a large rails project but we make extensive use of the my{some_method} where some_method is a method in the class where we are building the query.  Is there an equivalent for that within baby_squeel?

thx!

[2016-07-19 04:12] rzane commented on #14
I just added this with #15. However, I really do recommend providing arity to DSL blocks instead of using `my`. By doing so, your code will be a lot easier to debug when you do have an issue.

[code]

This method is only available when using BabySqueel's compatibility mode, which monkey patches Active Record.

[2016-07-19 09:26] kbaum commented on #14
I like that syntax too. It's just tough to test out this library as a
replacement for squeel on a large project without it being compatible to
begin with.

Just to clarify, what is the value of t in your example? In the readme, it
seems like it would be an instance of Model, but that is not the same
behavior as the my method from squeel.

Thanks for your help!
On Tue, Jul 19, 2016 at 12:12 AM Ray

[2016-07-19 12:18] kbaum commented on #14
Addressed https://github.com/rzane/baby_squeel/pull/15

[2016-07-19 12:18] #14 closed

[2016-07-19 12:21] kbaum opened #16 "Ignoring multiple joins"
Squeel allowed for stuff like this:

[code]
In the above example, if name and breed is present, dog will be joined twice.  Squeel just ignores the second join of dog while baby_squeel raises an error.

[2016-07-19 12:24] kbaum opened #17 "baby_squeel demands fully qualified path"
Squeel was a bit more layed back when specifying a where condition.  Take the following:

[code]

Squeel is ok with this since breed is only on the dogs table but baby_squeel demands that the query looks like:

[code]

Not that baby_squeel is incorrect, just makes changing over to baby_squeel a bit more difficult.

[2016-07-19 13:45] rzane commented on #16
I think the problem here is that you're using symbols. BabySqueel doesn't support that.

[code]

[2016-07-19 14:06] rzane commented on #17
Yeah, this is accurate.

When you say `dogs` within your DSL block, BabySqueel looks for a column named `dogs`. If it doesn't find that, it looks for an association by that name.

So essentially, BabySqueel is doing the following, allowing Arel to do the heavy lifting:

[code]

P.S. I think you want `dogs.breed == 'mutt'`.

[2016-07-19 14:09] rzane commented on #14
In my example, `t` is an instance of `BabySqueel::DSL`, not an instance of `Model`. I believe Squeel works exactly the same way.

[2016-07-19 18:31] kbaum commented on #17
Makes sense.  In interest of getting adoption from those using squeel, would it make sense to make the behaviour equivalent to squeel?

[2016-07-19 18:32] kbaum commented on #16
Apologize.. the symbols was just a typo.  I am updating the example.

[2016-07-20 01:42] rzane commented on #16
I'm having trouble reproducing your issue. I tried to test your explanation as best I could here:
https://gist.github.com/rzane/2a331dad471e8a299a5da8d0a6ec80bc

Could you try to provide me with a reproduction case based off of that gist?

Also, note that there is a spec for this behavior. See: https://github.com/rzane/baby_squeel/blob/57258fdbbed0f9c84c63108686215b9aa78eed61/spec/integration/join

[2016-07-20 02:13] rzane commented on #17
I actually just tested out Squeel, and your example would actually do the following:

[code]

Are your sure your example was correct?

[2016-07-20 09:27] kbaum commented on #17
I was going off of code in our project that has been live for a while. I
will try and reproduce and get back to you.
On Tue, Jul 19, 2016 at 10:13 PM Ray Zane <notifications@github.com> wrote:

[2016-07-20 13:34] rzane commented on #17
Thanks! It would also help if you could tell me the Active Record version.

[2016-07-21 22:36] kbaum commented on #17
Sure! AR 4.2.6 and squeel 1.2.3
On Wed, Jul 20, 2016 at 9:34 AM Ray Zane <notifications@github.com> wrote:

[2016-07-22 03:33] rzane commented on #17
I tried those versions, and I'm still unable to reproduce. Squeel assumes you're querying the `owners` table, and does not verify that `owners.breed` is a valid column.

https://gist.github.com/rzane/377356177290159fc1f9629f27132d75

[2016-08-02 20:27] rzane commented on #17
Hi @kbaum, I'm going to close this issue. I'm not able to reproduce, plus, I don't intend on supporting this behavior. If you want to query on an association, you have to specify the association name.

[2016-08-02 20:27] #17 closed

[2016-08-02 20:30] rzane commented on #16
Hi @kbaum, I'm still unable to reproduce this issue. If this is a bug, I'd really like to track it down.

[2016-08-04 07:04] Schwad opened #20 "Migration from the Squeel Community"
I am here after going through this thread: https://github.com/activerecord-hackery/squeel/issues/412

I'm sure I'm not the only one maintaining an app that relied on `Squeel` for a long time and is now trying to upgrade to Rails 5, seeing `Baby Squeel` as the only option going forward. Would it be possible to get a chunk in the README to help us flag up what changes we will need to make to an appl

[2016-08-04 10:53] Schwad commented on #20
Example one:

1. Command+Shift+F changing `where{` to `where.has {` seemed to work in one instance.

[2016-08-04 13:41] rzane commented on #20
Hi @Schwad, this is a great idea. I actually added a Squeel compatibility mode for this exact reason, which should make the migration a little bit easier. Enabling compatibility mode will override Active Record's query methods, allowing `where {` to work. It's meant as a slightly cheaper migration path.

I do, however, recommend avoiding compatibility mode. Because it overrides methods in Active R

[2016-08-04 15:01] Schwad commented on #20
Glad to hear it @rzane , hopefully as I go forward I can be a bit of use, that way future folks coming to this gem can do the switch in minutes :)

[2016-08-04 16:56] rzane commented on #20
I've started a wiki page here: https://github.com/rzane/baby_squeel/wiki/Migrating-from-Squeel

Contributions welcome!

[2016-08-05 10:26] Schwad commented on #20
This is really handy! Thanks!!!

[2016-08-05 11:23] Schwad commented on #20
I'm not sure how to make contributions to someone else's wiki, a quick search in this wasn't clear.

On `https://github.com/rzane/baby_squeel/wiki/Compatibility-Mode` you may want to change your code to:

[code]

To match your gem. I do not intend to rely on `enable_compatibility` per your guidance, but it is currently helpful as I try to get this up and running and put the migration to `baby_sque

[2016-08-05 14:51] rzane commented on #20
Oh, nice catch! Thanks.

[2016-08-08 09:56] Schwad commented on #16
Hey, since I'm in the middle of Rails 5 upgrade / migrating from Squeel to Baby Squeel, I might be getting errors relatively similar to this in some spots. If I do, I'll try to post the info here. If it's not related, hopefully @kbaum will let us know.

[2016-08-08 13:55] rzane commented on #16
Thanks @Schwad!

[2016-08-18 14:19] Schwad commented on #20
Okay, so here's a command working on someone else's machine but not mine with Baby Squeel, let me know what you think or what configurations I need to do.

`Customer.includes(:custom_fields).where("custom_fields.customer_id IS NULL")`

That's an example. Essentially for when I want to find customers with no custom_fields, when there's a has_many relationship to the fields. Similarly with `IS NOT N

[2016-08-18 14:39] rzane commented on #20
The example you've provided above isn't using Baby Squeel at all. However, the problem is that you need to tell Active Record that you're referencing that table (to kick off a join).

Try this:

[code]

[2016-08-18 14:43] Schwad commented on #20
Thanks @rzane, perhaps I should have articulated that it wasn't a direct use of Baby Squeel, but me trying to use logic that was a bit closer to SQL to see why I was getting that error, I guess since Baby Squeel didn't monkey patch activerecord at all, it won't have any possibility of a knock-on effect when I'm using non BabySqueel style queries!

Thanks for the prompt response and feedback!

[2016-08-18 14:46] rzane commented on #20
No problem. And yes, because there are no monkey patches, Baby Squeel will not affect any of Active Record's bevahior.

[2016-08-29 15:36] mvz opened #21 "Nested joins"
Hi,

I'm trying to migrate from Squeel using a query that looks like this:

[code]

Somehow, Baby Squeel generates a query where the baz column is on the things table, rather than on the bars table.

[2016-08-29 15:47] mvz commented on #21
I neglected to mention that this is on Rails 4.2.

[2016-08-29 17:13] rzane commented on #21
Yup, you are right. This does seem like a bug. The following fails:

[code]

[2016-09-03 19:19] rzane commented on #21
@mvz could you try master? This issue should be resolved by #22.

[2016-09-04 19:24] mvz commented on #21
@rzane Thanks! I'll try it out at the end of the week and let you know.

[2016-09-08 17:09] chewi opened #25 "Better support for EXISTS subqueries"
Hello! In Squeel, I used to be able to do this.

[code]

Now I've had to change it to this.

[code]

The `arel_table` bit probably only works thanks to a patch I've made against ActiveRecord though I haven't tried without. The Squeel syntax no longer works because Baby Squeel complains that `customers` is not a valid column or association. I wonder if there's a way for Baby Squeel to realise this

[2016-09-08 19:05] rzane commented on #25
That's for the feedback. I totally forgot about EXISTS. #26 should fix this.

You're right that you can't reference tables without an association with BabySqueel, however, you can do this:

[code]

And, thanks for trying the PR, I sincerely appreciate any and all contributions!

[2016-09-08 19:06] #25 closed

[2016-09-08 20:07] #21 closed

[2016-09-09 00:42] #16 closed

[2016-09-09 00:42] #20 closed

[2016-09-12 11:01] mvz commented on #21
@rzane I can confirm that this works with the new release, thanks!

[2016-09-12 14:39] rzane commented on #21
Awesome! Thanks for checking back in!

[2016-10-19 09:14] odedniv opened #30 "Grouping function"
In squeel you have the `_` function in the DSL, which lets you convert certain native objects to a usable object in squeel. It also adds brackets around the item in the SQL.

Hard to explain, here's examples:

[code]

As you can see, this is useful in certain occasions, and I cannot find a way to work around it.

You can find squeel's implementation here: https://github.com/activerecord-hackery/sq

[2016-10-19 12:32] dirknilius opened #31 "'as' keyword is not working anymore in some cases since release 1.0"
#### Issue

There is a regression in version 1.0 with `as` in some cases (see reproduction part). Thanks for taking a look into this.

#### Reproduction

[code]

[2016-10-19 21:12] rzane commented on #30
Closed by #32

[2016-10-19 21:12] #30 closed

[2016-10-20 17:33] odedniv opened #34 "Arel converts SQL literal to 0 when compared with a numeric column"
#### Issue

Arel doesn't seem to like having baby squeel's SQL literal proxy on the right side of an operator when the left side is a numeric column (grouping the literal with the new grouping method fixes it, one of the reasons I wanted it here is because it 'fixed' a lot of similar issues on the original Squeel).

Sometimes infras case classes, which proxies don't handle well (`case X when Arel:

[2016-10-21 11:56] david50407 opened #35 "Request for "all" in where.has { ... }"
#### Issue

Request feature that we can use `all` and `none` in where.has query

example:

[code]

I know Rails 5 has powerful `.or` query, but if we can use baby_squeel to build it, that will be awesome
(And Rails 4 doesn't has `.or` 😢 )

[2016-10-21 14:33] rzane commented on #34
Good find. However, I'm not sure what the best solution is here, because this actually doesn't work in Arel.

[code]

[2016-10-21 14:34] rzane commented on #34
Also, thank you for providing me with a reproduction case. That really, really helps.

[2016-10-21 14:46] rzane commented on #31
Thanks for the detailed bug report. This is happening because Arel::Nodes::Binary doesn't include Arel::AliasPredication.

Should be an easy fix 👍 . I'll have something today.

[2016-10-21 14:56] odedniv commented on #34
I believe I found something like this before on squeel too, that's why I could guess so much to reach the description on the issue :smile:

Wrapping the literal in a grouping, which causes additional brackets in the SQL fixes the issue (might not be a bad idea before appending raw SQL). I don't love this patch, but encountering this problem caused quite a headache (the SQL fails silently, the cond

[2016-10-21 15:34] rzane commented on #35
I think you could accomplish this like so:

[code]

[2016-10-21 16:19] david50407 commented on #35
But won't `1 = 1` and `1 = 2` waste time on SQL server?

[2016-10-28 14:58] #31 closed

[2016-11-01 20:21] pelletencate opened #37 "Where.has uses incorrect table alias"
When using `joining` to join a table multiple times, baby_squeel doesn't use the correct table aliases if they're being referenced using `where.has`.

For example, in this test case, I have villages, people and cars. People can all have a father. I want to find all people in the village who either own a blue car, or whose father owns a blue car.

This is what I believe should work, but doesn't.

[

[2016-11-03 19:26] rzane commented on #37
This definitely looks like a bug. I should have some time to investigate further either tomorrow or this weekend.

Thanks for the repro! Much appreciated!

[2016-11-07 20:30] shepmaster opened #38 "Unable to perform math operations on the result of a function"
#### Issue

I'd like to be able to write something like `Dog.selecting { (coalesce(id, 0) / 1).as('value') }`, but it appears I cannot use `/` on a `Function`:

[code]

#### Reproduction

[code]

[2016-11-07 20:30] shepmaster commented on #38
Thank you so much for such a useful library ❤️ 💚 💛!

[2016-11-08 00:08] rzane commented on #35
That may be true. Either way, I'm probably not going to add a special DSL method for this.

[2016-11-08 00:08] #35 closed

[2016-11-08 00:09] #38 closed

[2016-11-08 00:42] rzane commented on #34
Sorry for not getting back to you. I totally understand how this can be a difficult issue to debug, if you were to come across it. However, I don't really see this as being a problem with baby_squeel, so I probably won't fix it.

I'd say file a bug with Active Record, but this honestly feels like the correct behavior. For example, if you were to query a varchar column with an integer, you'd expect

[2016-11-08 01:10] shepmaster commented on #38
Wowzers, talk about fast! Thanks!

[2016-11-08 02:17] rzane commented on #34
See https://github.com/rails/rails/pull/26992

[2016-11-08 06:52] odedniv commented on #34
Awesome! I love the quick correspondence you had there, I usually did not get the same result posting a bug/PR to the rails team.

I feel comfortable closing this and leaving it to AREL.

[2016-11-08 06:52] #34 closed

[2016-11-08 07:17] david50407 commented on #35
Ok, thanks for your reply :)

[2016-11-08 15:10] rzane commented on #34
:+1: thanks for reporting this

[2016-11-08 19:26] shepmaster opened #41 "Unable to use floating point values in math expressions"
#### Issue

I'd like to be able to write something like `Dog.selecting { (coalesce(id, 0) / 42.42).as('value') }`, but it appears I cannot use floating point numbers:

[code]

I note that the stacktrace doesn't mention baby_squeel at all, so it's possible that this issue is outside of the scope of this library?

#### Reproduction

[code]

[2016-11-09 21:34] mach-kernel commented on #37
I have this exact issue. I think @pelletencate's test case is perfect, but just for illustration, here is one of my queries. `postmetas.meta_key` yields `postmetas_wp_posts`.

[code]

[2016-11-18 17:53] pelletencate commented on #37
@rzane Any news?

[2016-11-18 19:26] rzane commented on #37
Sorry for taking so long. I've been very busy, but I definitely have not forgotten about this!

[2016-11-19 00:34] asaletnik commented on #41
I had similar issue after upgrading to Rails 4.2.x, and I've been struggling to find solution for some time, here's what I had problem with:
[code]
has been giving me:
[code]
I've tracked the exception, and it was raised because of that `'%d/%m' string. I also didn't see BabySqueel anywhere in the backtrace, so at first I didn't suspect that.

This is what helped in my case:
[code]

I've used `quo

[2016-11-19 01:13] rzane commented on #41
Thanks, @asaletnik. Quoted is probably the way to go here. I'm nervous to try and "infer" what to do with arguments to functions.

Basically, anytime you get an error like `unsupported`, you probably need a SqlLiteral. Quoted will call `YourModel.connection.quote` on the connection adapter and then convert to a SqlLiteral, which Arel will happily accept.

[2016-12-21 15:27] donjar opened #42 "Joining with scopes"
#### Issue

I cannot join with scopes. As far as I know I am able to do so with Squeel.

#### Reproduction

[code]

This returns:
`BabySqueel::NotFoundError: There is no column or association named 'double_weight' for Dog.`

If I use Squeel instead:
[code]

Then add `scope :double_weight, -> { select(:id).select('(2 * weight) AS double_weight') }` into `app/models/dog.rb`.

Afterwards, run `bin/ra

[2017-01-04 12:55] hlogmans opened #43 "Where.has for polymorphic fields"
#### Issue

Where.has does not work as smart as Arel with polymorphic fields. I've build a simplified case to demonstrate this. It seems something is simplified before it gets transported to Arel, as Arel itself does support these cases. For a workaround I use Arel directly, but the BabySqueel code is soo much nicer :)

I tried to create changes in BabySqueel to support it, but I did not succeed t

[2017-01-11 04:59] rdj commented on #37
The original issue makes it sound like the _wrong_ alias is being used, but what I'm seeing is that _no alias_ is being assigned to the joined table.

Just `LEFT OUTER JOIN t2 ON t2.id = t1.t2_id`, resulting in `Mysql2::Error: Not unique table/alias: 't2'`.

That's with these versions:

[code]

Ran the test from the OP and seeing the same thing, no aliases at all for the double-joined table:

[cod

[2017-01-11 21:22] rdj commented on #37
In fact, playing around with this a bit, no matter how I do the join or alias the table, the join condition is using the alias for the cars join rather than the father.cars join. Here's an example, I based this on the OP test case:

[code]

And the result:

[code]

The most troubling bit being `LEFT OUTER JOIN "cars" "fathers_car" ON "cars"."person_id" = "fathers_people"."id"`, where it uses the a

[2017-01-16 17:57] rdj commented on #37
I'm going to apologize for reawakening this thread. I was sick last week and frustrated while trying to migrate to baby_squeel. While I am still having trouble getting this toy example to work properly, my real world example of joining the same table twice with a real database adapter is working properly now that I'm using `baby_squeel 1.0.1` instead of `0.3.1`. I'm not sure why Bundler wanted to

[2017-01-16 18:16] rzane commented on #37
Hey @rdj, there's absolutely no need for apology! I appreciate any and all information related to this issue, because I still haven't gotten the chance to look into it. Keep it alive, haha!

And yes, definitely use v1, because it relies on polyamorous to do a lot of the heavy lifting related to joins.

Sorry everybody for being so slow to fix this! 🐢

[2017-01-31 05:25] rzane commented on #37
Okay, so after some investigation, it is clear that the issue is coming from `BabySqueel::JoinDependency::Finder#find_alias`. It's not always finding the correct JoinAssociation.

In squeel, this alias finding is done here: in https://github.com/activerecord-hackery/squeel/blob/master/lib/squeel/adapters/active_record/4.1/context.rb, so this can be used for reference.

[2017-02-03 02:25] #37 closed

[2017-02-03 02:27] #43 closed

[2017-02-03 02:28] rzane commented on #43
Thanks so much for putting the time in to investigate. I really appreciate that! Sorry I took so long to get back to you!

This will land in the next version. Unfortunately, it's slightly trickier to implement for Active Record <=4, so I'm only going to implement it for 5+.

[2017-02-03 02:40] #41 closed

[2017-02-07 17:23] danielnc opened #46 "[Question] SubQueries capabilities"
#### Issue

Is it possible to use baby_squeel to create subqueries similar to the ones we have on Squeel?

I cannot find any documentation on this and we are trying to move from Squeel to Baby Squeel due to several bugs related to polymorphic relations and bind values on subqueries

Thanks
#### Reproduction

[code]

[2017-02-07 20:34] rzane commented on #46
This is the same as #42. The exact expression you're trying to do isn't currently implemented, but baby_squeel does have limited support for subqueries.

+ `Post.where.has { author.id.in Author.select(:id).limit(3) }`
+ `Post.where.has { exists Post.where(id: 1) }`
+ `Post.where.has { not_exists Post.where(id: 1) }`

I'd be happy to accept a pull request.

[2017-02-07 21:17] danielnc commented on #46
@rzane glad to help but it's the first time I am taking a look at baby_squeel. Squeel is completely broken for our 4.2 upgrade so am I looking for options since we were doing pretty heavy usage of Squeel

Can you point me in the correct direction to try to understand how to start this PR?

I am assuming that given our heavy usage of Squeel I'll be able to contribute to baby_squeel to cover our usa

[2017-02-07 21:31] rzane commented on #46
I did a little investigation. Here's a gist of what I think it would take.

[code]

That'll get you part of the way there:

[code]

As you can see, it's not using the alias (`a`). The next step would be allowing `#on` to take a block, where inside the block, the aliased table name would resolve to the instance of BabySqueel::Table.

Notes:

1. The signature for `BabySqueel::Table#on` should become

[2017-02-07 23:39] danielnc commented on #46
But for your example ```node``` is ```#<Arel::Table:0x007fea780b0210 @name="posts", @engine=Post(id: integer, title: string, author_id: integer, published_at: datetime, parent_id: integer, created_at: datetime, updated_at: datetime), @columns=nil, @aliases=[], @table_alias=nil, @primary_key=nil>```, not ```author``

[2017-02-08 03:25] rzane commented on #46
@danielnc I got this sort of working, but binds parameters don't work.

https://github.com/rzane/baby_squeel/compare/join-wip

[2017-02-08 13:16] danielnc commented on #46
@rzane thanks

I am investigating missing bind params and I believe its related to this: https://github.com/rails/arel/issues/363

Still trying to learn more about AREL to see what needs to be done to use bind params correctly

[2017-02-08 15:19] rzane commented on #46
I *think* the bind values have to be copied from the relation you're joining to the parent relation. At one time, baby_squeel had to handle this sort of thing for normal joins https://github.com/rzane/baby_squeel/commit/7ca9e3214721ce6761e15beb6ae9086daca8ead5.

It's definitely not an issue with Active Record or with Arel. It's just that Arel is a private API within Rails, so `relation.arel` offer

[2017-02-08 18:23] danielnc commented on #46
Yes, problem is I don't have a ActiveRecord relation when calling ```DSL.evaluate```
I only have access to the AST and I'm not 100% sure how can I get the list of bind_values easily without touching too much of Arel internals or traversing the entire tree

[2017-02-08 19:16] rzane commented on #46
Yes, that's true. Might have to implement a method on the DSL to handle the relation

[code]

[2017-02-08 23:54] danielnc commented on #46
I got bind_values working following your suggestion
now need to make sure table and alias references works on where clauses
```.on { a.id == author_id }``` should yield ```ON a."id" = "posts"."author_id"```
and
```.where.has { a.name == "AuthorName" }``` should yield ```"a"."name" = "AuthorName"```

Any advice on how to properly handle where.has a.name?
for the first one I'll have to follow someth

[2017-02-09 02:39] rzane commented on #46
Yeah, you're right about `~`. This is the key to handling the alias name:

https://github.com/rzane/baby_squeel/blob/a290e41485b48eae526b2dc37e74d552be423c46/lib/baby_squeel/table.rb#L115-L116

[2017-02-09 20:32] hrasguido opened #47 "subquery not_in returns NULL"
#### Issue

When I use "not_in" the sql result is NULL. But if I use only "in", the result works fine

#### Reproduction

[code]
Result
[code]

But when I use not_in

[code]
Result
[code]

[2017-02-09 22:14] #47 closed

[2017-02-09 22:14] rzane commented on #47
Releasing a new version momentarily!

[2017-02-13 21:47] probonogeek opened #53 "Improper casting when joined tables share common column name but different column type"
#### Issue

If you have two tables with a common column name, but different column types, which you're joining via an association, baby_squeel improperly casts the column based on the column type of the primary table instead of the joining table. We setup two specs demonstrating the issue on our fork: https://github.com/boltthreads/baby_squeel

#### Reproduction

[code]

[2017-02-14 05:25] rzane commented on #53
That's a weird one! It seems there's a silent bug in Active Record. By silent, I mean that I don't think you could come across it using the public API.

I have a workaround for this in mind, but here's the PR for Rails: https://github.com/rails/rails/pull/27994

[2017-02-14 06:07] probonogeek commented on #53
Awesome. We weren't able to reproduce the issue using pure Active Record calls, so silent is an apt description. Thanks for responding so promptly! Look forward to either your own workaround or an eventual upstream fix.

[2017-02-14 16:44] #53 closed

[2017-02-14 18:25] probonogeek commented on #53
Thanks! Worked like a charm!

[2017-02-14 20:01] rzane commented on #53
Pushed v1.1.1 to RubyGems.

[2017-02-16 09:35] Siggs2000 opened #55 "Help converting a function from non-baby squeel"
I'm tired of battling squeel and was happy to find this! But I'm completely stumped on converting this function into baby_squeel.

In my model, I have this function (it uses some postgis stuff from the rgeo gem)
[code]

I was hoping to just change `where` to `where.has` but that didn't seem to work. Thanks in advance for any help on this!

I'm running rails 4.2.7

[2017-02-16 15:48] rzane commented on #55
I'm happy to help, but I'll need a little information than "it didn't work". Did it throw an error? If so, could you provide a backtrace? If not, what SQL was generated?

If `latlon` is a column, why are you specifying it as a symbol instead of just as the column? For example, `where.has { st_intersects(latlon, addressable) }`

[2017-02-16 16:25] Siggs2000 commented on #55
Thanks @rzane - I should've been a little more descriptive there.

It seems to be a syntax error. Where the old sqeel way worked for the query (but it broke my caching), this suggested baby_squeel syntax seems to not be executing the same query and so I get an arel error.

The main error is: `unsupported: RGeo::Geographic::SphericalMultiPolygonImpl` (so it's not interpreting that `addressable` var

[2017-02-16 17:23] rzane commented on #55
Okay, so when you're saying:

[code]

That actually translates to:

[code]

Arel doesn't know how to translate `addressable` into SQL. I think this only worked in Squeel by pure luck.

After reviewing RGeo, it seems they're extending Arel::Attributes::Attribute to tech it how to understand this RGeo object.  So, I think the right way to write this query would be like so:

[code]

[2017-02-16 17:55] Siggs2000 commented on #55
Thanks again! I actually kept running into the same RGeo / areal error with that suggested syntax but I did find some good old, bare non-squeel or baby_squeel (but horribly ugly) syntax that does work. For the moment, I'm back making forward progress! But for future seekers, maybe we can crack the case of baby_squeel equivalent syntax of this working code. Or perhaps this might actually even be an

[2017-02-16 18:24] rzane commented on #55
How can I get an instance of whatever `addressable` is? Can you work up an actual test for me to try out? I'm happy to help, but I don't have enough information, and I don't know anything about RGeo.

[2017-02-22 02:01] cheerfulchaotic opened #56 "Exception on search through has_and_belongs_to_many relationship"
#### Issue

When searching through a has_and_belongs_to_many relationship, it raises a noMethodError, undefined method 'table' for nil:NilClass.  Passes this test in v1.01, but not v1.02

#### Reproduction

[code]

[2017-02-22 16:34] #56 closed

[2017-02-22 16:35] rzane commented on #56
@cheerfulchaotic this should be fixed in master! Thanks for reporting!

[2017-02-22 16:59] Schwad commented on #55
@Siggs2000  - you've probably already gone through this, but when I first did a big ol' migration on a 7,000 commit application from squeel to baby_squeel I got a lot of help from the wiki that @rzane put together. https://github.com/rzane/baby_squeel/wiki/Migrating-from-Squeel

If that doesn't help, please do add to the wiki once you've found resolution!

[2017-02-24 15:48] hrasguido opened #59 "Using BETWEEN condition?"
Is there anyway to write BETWEEN condition?

[2017-02-24 20:04] rzane commented on #59
Yup. It would look like this:

[code]

This document is pretty useful: http://www.rubydoc.info/github/rails/arel/Arel/Attributes/Attribute. In the example above, `created_at` is just a wrapper around `Arel::Attributes::Attribute`.

[2017-03-08 20:52] hrasguido commented on #59
thanks!

[2017-03-08 20:52] #59 closed

[2017-03-28 12:21] rapides opened #60 "OP doesn't work on where.has"
#### Issue

I need to use op function on my where clause like below:

#### Reproduction

[code]

Is it possible to add that functionality?

[2017-03-28 12:33] rapides commented on #60
Nvm, I've just found solution with quoted:

`Profile.where.has { |t| t.first_name.op('||', t.quoted(' ')).op('||', t.last_name).like(search) }`

[2017-03-28 12:33] #60 closed

[2017-03-30 12:40] rapides opened #61 "Attribute #in returning an actual Arel::Attributes::Attribute"
#### Issue

There is error when subquery is empty.

#### Reproduction

[code]

[2017-03-31 14:16] rzane commented on #61
hi @rapides, thanks for reporting this! I just released 1.1.3.

[2017-04-10 11:39] rapides commented on #61
hi @rzane

I think that your fix doesn't cover this issue fully yet. Your fix should prevent against a dangerous situation where nested query returns empty table. Currently implemented solution may provide many unexpected random errors.

[code]
I won't want to check every time if my subquery return something.

Looking forward for some solution.

[2017-04-10 14:27] rzane commented on #61
Yeah, there should definitely be a graceful solution for this. Nice catch!

Here's how Active Record handles the issue:

[code]

[2017-04-10 17:19] rzane commented on #61
Fixed in #63

[2017-04-10 17:19] #61 closed

[2017-04-11 09:29] rapides commented on #61
Many thanks! Is it possible to release that in separate version?

[2017-04-13 22:30] rzane commented on #61
I just released 1.1.4.

[2017-05-05 07:36] Looooong opened #64 "[Error] Cannot use `joining` with `alias` on PostgreSQL"
#### Issue

I followed the [joining with alias example](https://github.com/rzane/baby_squeel#joins)

[code]

and received the following error:

[code]

It looks like PostgreSQL requires that column of table in`ON` condition must refer to that table alias if it's defined.

[2017-05-05 07:47] Looooong opened #65 "[Error] When using `joining` with `on`, DSL refers the association to wrong table name or undefined table alias"
#### Issue

[code]

will produce the following query:

[code]

Notice the `WHERE` condition, it's `enrollments_courses` instead of `enrollments`, or the table alias `enrollments_courses` is not defined.

I'm using Rails version 4.2.7.1, Ruby version 2.3.3, Baby Squeel version 1.1.4.

[2017-05-07 10:51] shlajin opened #66 "[Question] Join a subquery"
First of all, that's an awesome gem and I'm super happy I found it 🔥 🔥 🔥

The "parent" gem (squeel) has an ability of joining a subquery, example from their readme:

[code]

I wonder if there's an ability to achieve the same thing with baby squeel?

[2017-05-08 15:20] rzane commented on #64
Yeah, currently, you'd have to write that query like this:

[code]

But, I have a branch that allows you to write it like this:

[code]

[2017-05-08 15:25] rzane commented on #65
Hmm this is interesting. Could you create a reproducible test case based on this example: https://github.com/rzane/baby_squeel/blob/master/ISSUE_TEMPLATE.md

[2017-05-09 07:39] Looooong commented on #64
Thanks for the workaround. You should have it in the example.

[2017-05-09 07:55] Looooong commented on #65
[code]

# Test result #

[code]

[2017-05-09 07:57] Looooong commented on #65
The problem also exists on Rails 5

[2017-05-09 10:41] Looooong commented on #66
I think this can be worked out without subquery:

[code]

However, there is a bug #65 that makes `joining` with `on` not work.

[2017-05-09 14:09] rzane commented on #64
Agreed! I'll work on that sometime this week.

[2017-05-09 14:09] #64 closed

[2017-05-12 16:39] pelletencate opened #67 "Join by adding conditions instead of replacing them"
Feature request: In an ORM I used to use in my former life, there was an [alternative  to `.on` for joins that was called `.with`](http://doctrine.readthedocs.io/en/latest/en/manual/dql-doctrine-query-language.html#with-keyword). Basically, what it did was take the original join conditions, and add another condition to it using AND. I found this to be extremely helpful, as part of the reasons why

[2017-05-12 18:46] rzane commented on #67
This is definitely an interesting idea. Though, I think it might be really tricky to implement.

The problem is that BabySqueel lets Active Record do the heavy lifting in the case of an implicit join. In the case of an explicit join, it's just Arel.

Combining the two would be very difficult and more likely to break as Active Record changes. However, I think your idea could be implemented more eas

[2017-05-14 06:10] angelacode opened #68 "Query is not consistent -- sometimes get an error if I change the parameter"
#### Issue

Please explain this issue you're encountering to the best of your ability.

#### Reproduction

[code]
I'm not sure why there should be a difference:

[code]

[2017-05-19 15:18] shlajin commented on #66
Provided example is taken from the squeel readme for illustration purposes. I can't deny that many SQL queries can be transformed from subquery based to non-subquery based, but in many cases subquery is just easier to write. Would be awesome to have that ability / choice :)

[2017-05-19 15:44] rzane commented on #66
Yeah, I agree that it would be nice for baby squeel to provide this functionality, but I'm having trouble finding the time to add new features. I'd be thrilled to receive a pull request!

[2017-05-23 07:31] octavpo commented on #67
This won't give the same result in an outer join.

[2017-05-26 18:32] fetep opened #69 "empty hash in where.has causes bad where clause"
#### Issue

When using a hash of filters from a where.has block, everything works fine unless that hash happens to be empty. In the case of an empty hash, it's adding a `where 1=0` clause to the generated SQL query.

#### Reproduction

With squeel (working):
[code]

With baby_squeel (not working):
[code]

[2017-05-26 20:03] rzane commented on #69
This should be fixed in v1.1.5. It should be available now.

[2017-05-26 20:03] #69 closed

[2017-05-30 14:23] rzane opened #70 "Implement `selecting { table.* }`"
[code]

[2017-05-30 14:24] rzane opened #71 "Implement `ordering { column.asc.nulls_last }`"
[code]

[2017-06-09 21:13] dchersey opened #72 "problems with where.has on associations"
With squeel I am able to say `user.posts.where {posted == 1} `

With baby_squeel it looks like I have to say `User.where.has {|p| (p.posted == 1) & (p.user_id = user.id) }`

Is there any other way to do a query using an association relationship?

Thank you!

[2017-06-12 16:19] rzane commented on #72
I'm not sure I understand the problem here. You can definitely query on associations in baby squeel. Are you getting an error of some kind? Perhaps you could better demonstrate the issue by filling out the github issue template.

[2017-06-12 16:22] rzane commented on #68
@angelacode, I didn't see this issue! Sorry!

I'm not able to reproduce this issue. Could you fill out the issue template?

[2017-06-12 20:09] dchersey commented on #72
Hmmm.. ok, it seemed to me that it was unsupported. Here's what I am doing:

I have a relationship from User to Activity as follows:
[code]

when I run `User.first.initiated_activity.where.has {|a| a.receiver == User.last}.count`
I get
[code]

without the `.count` I get
[code]

When I query by the foreign key specifically, i.e. `User.first.initiated_activity.where.has {|a| a.receiver_id == User.la

[2017-06-12 20:28] rzane commented on #72
I'm pretty sure you're on an old version of Baby Squeel, but I'm really just taking stabs in the dark here, because you didn't fill out the [issue template](https://github.com/rzane/baby_squeel/blob/master/ISSUE_TEMPLATE.md).

This functionality was added in version 1.0.2. Tests for it are [here](https://github.com/rzane/baby_squeel/blob/08ec8492e50335b5cfa79c44d6fc0a669b16e25f/spec/integration/wh

[2017-06-12 22:02] dchersey commented on #72
Ahh, that explains it.  Updated to 1.1.5 and now I am getting an explanation:
[code]

I'm still on Rails 4.2, so I guess I'll have to use the ID for now; migrating to baby_squeel was part of the Rails 5 prep.

Thanks for your help :)

[2017-06-13 17:52] rzane commented on #72
Yeah, sorry. It was relatively easy to support in 5+, but would have been a lot of code to support in 4. Glad you figured it out!

[2017-06-13 17:52] #72 closed

[2017-07-14 12:29] pelletencate commented on #67
True, that won't work for outer joins.

Can't you convert a query to Arel after AR has done the heavy lifting, and then simply append an `AND` part to  it?

[2017-08-17 04:57] Looooong commented on #64
I haven't had a chance to use this method until now. I'm afraid to say that this method doesn't work either. The query still refers to the original table name despite using `alias`.

Can you reopen this issue?

[2017-08-24 14:26] passalini commented on #65
+1 rails 4.1.0

[2017-08-30 21:13] octavpo opened #73 "Missing constructs"
I'm trying to translate from squeel, I couldn't find the equivalent of a few constructs: reorder, preload, includes, eager_load. Have they been implemented? Thanks.

[2017-08-30 21:38] rzane commented on #73
Includes, preload, and eager_load were intentionally excluded. I don't see how baby squeel would actually add any value to those methods, since they just take symbols anyway.

But, you're right about `reorder`. I definitely missed that one.

[2017-08-30 22:04] octavpo commented on #73
Well, squeel's preload and co. would also take stubs as arguments, so I could write: preload{assignments.students.user_role}. Not a big difference, but a little shorter and more uniform with the rest of the constructs.

[2017-08-30 23:44] brunobrgs opened #74 "Migration from squeel"
[code]
I have this kind of problem spread throughout my application, i am migrating and also using the `compatibility mode` .

Is there a way to get this same behavior back?

[2017-09-01 18:35] rzane commented on #74
The easy solution is to just say `state_id.in(State.select(:id))`.

[2017-09-01 18:38] brunobrgs commented on #74
Yes, thanks
I was just imagining if there was not a way to just keep it working in the old way.
With this change, i will need to change a lot of places.

[2017-09-01 18:38] #74 closed

[2017-09-01 19:24] rzane commented on #73
I'm going to add this to compatibility mode, but, I don't think there needs to be a DSL just for the sake of having a DSL.

[2017-09-01 19:25] rzane commented on #74
Yeah, sorry :(

[2017-09-02 18:28] octavpo commented on #73
What about the reorder? And btw there's also a rewhere. Thanks.

[2017-09-02 19:18] rzane commented on #73
Whoops! Forgot about that one! I'll add it.

[2017-09-10 19:50] octavpo opened #76 "COnverting having"
Not sure how to convert this clause from squeel:

[code]

where 'compl_string is a local variable. Just replacing having with when_having and ticks with quotes doesn't work. Thanks.

[2017-09-10 19:59] rzane commented on #76
Yeah, backticks don't work like that in baby squeel. Is that not a column? Ideally, you should avoid using a sql literal, but, if you absolutely must, I think you're looking for:

[code]

[2017-09-10 20:15] octavpo commented on #76
No it's not a column, it's generated by an "...as('completed')" clause, is there anything better I can use? Anyway that seems to take care of the 'completed', but now I'm getting:

[code]

Looks like the float 1.0 doesn't work as is? Thanks.

[2017-09-10 21:11] rzane commented on #76
I see. Check out this issue: https://github.com/rzane/baby_squeel/issues/41.

Basically, I think you need to say: `quoted(1.0)`.

[2017-09-10 21:25] octavpo commented on #76
Ok that works thanks. But I found it also works with an integer instead of the float (but I need a float since 'completion' is float). Why would it work with one and not with the other? Also when should I use 'sql' and when 'quoted'? I also found that quoted('completed') works too. Thanks.

[2017-09-10 21:49] rzane commented on #76
I think Arel just doesn't know how to handle floats, and I think baby squeel would have to do some nasty stuff to get that to work without using `quoted`.

The difference between `quoted` and `sql` can be seen here: https://github.com/rzane/baby_squeel/blob/c3990080fa0c22f36cd23476a864f743ed55fb2e/lib/baby_squeel/dsl.rb#L79-L86.

The difference is that `sql` just gives you literal sql and marks it

[2017-09-11 04:02] #76 closed

[2017-09-11 08:39] octavpo commented on #76
Ok it makes sense, thanks. I see that `quoted` knows not to generate actual quote signs around floats. Although for identifiers it would be nice if there were a way to generate backticks. Is there any? Not that I really need it.

[2017-09-11 09:56] octavpo commented on #73
I don't understand the reasoning for not adding `includes` and co. to the DSL. You're basically sending people back to AR. Or to the compatibility mode that you advise against. The whole purpose of squeel and baby_squeel is to make things easier/nicer than AR, after all there's nothing we can't do with just AR itself. Sure if you compare `preload{problems}` with `preload(:problems)`, there's not m

[2017-09-11 14:35] rzane commented on #73
I don't think there's anything wrong with encouraging people to use AR for includes. Using `baby_squeel` doesn't get you anything except a fancy syntax. I think the purpose of `baby_squeel` is to give you a more powerful way to generate SQL queries. It's not just "for pretty looks".

That being said, this feature isn't that hard to support, so I'll add it.

[2017-09-11 15:30] octavpo commented on #70
Yes I'd very much like to see this implemented and finally be able to get rid of all the strings I have to use now. Thanks.

[2017-09-11 15:33] octavpo commented on #67
Any chance to have this implemented? It would be nice not to have to repeat the implicit join clause.

[2017-09-11 15:50] rzane commented on #70
Yeah, this is definitely going to happen. Should be pretty trivial to implement if you'd be interested in taking a stab at it.

The gist of it is:

[code]

[2017-09-11 15:55] rzane commented on #67
I'd say pretty unlikely. BabySqueel isn't generating those join nodes: Active Record is (with a lot of help from [polyamorous](https://github.com/activerecord-hackery/polyamorous)). I think even if we got this working, it would be brittle, and I'd like to avoid that.

That being said, if someone came up with a clever solution here, I'd be very interested in seeing it. It is a really cool feature r

[2017-09-11 17:37] octavpo opened #78 "Multiple on conditions"
I need to write something like this:
[code]
where the first `on` is the normal association condition, and the second `on` is an optional condition, which should be added only when local variable `student` is defined.

It almost works but not quite. If `student` is nil then the first `on` condition is generated as expected. If `student` is defined, then the second `on` condition replaces the first

[2017-09-11 17:45] rzane commented on #78
I think you just need to provide one `on` condition.

[code]

[2017-09-11 17:45] #78 closed

[2017-09-11 18:36] octavpo commented on #78
Yes that works fine, thanks. However it doesn't look great for chaining with all other clauses in the query, even if I use `{}` instead of `do ... end`. Is there some kind of 'empty' node I can use that `&` recognizes so it doesn't generate anything for it? Then I could write the second term for `&` like:
[code]
Thanks.

[2017-09-11 18:40] octavpo commented on #78
I know I could use `sql('TRUE')`, but that actually generates `AND TRUE`, I'd prefer to avoid that. Thanks.

[2017-09-11 18:46] rzane commented on #78
Maybe instead of building a giant chaining query, you should take advantage of scopes.

[code]

[2017-09-11 19:00] octavpo commented on #78
That is part of a scope called `with_completion_data` actually, it's not that giant, it adds a `selecting` and a `grouping`. I'm not going to write a separate scope for each single function in a query, it's better to split them by the program logic. It also writes on 7 lines what I could write on one or two. Still it would be useful to have an empty node.

[2017-09-13 13:45] octavpo commented on #73
Sounds great, thanks. And since we're at it, it would also be nice to have back the operator aliases (`>>`, `<<`) to `in` and `not_in`. Thanks again.

[2017-09-14 16:51] octavpo commented on #67
Wouldn't @pelletencate's suggestion work? So for cases where the joined table is an association, you'd call AR to generate an AR relation, then apply an `.arel` and add the `on` condition. For other cases just do arel directly as usual. I don't even think it needs a new construct, it's hard to believe anybody would want to join an association and not want the default condition added automatically.

[2017-09-14 17:16] octavpo commented on #76
Here's another issue with converting a `having` condition from squeel. In squeel I have something like:
[code]
where `team_role` and `team_size` are aliases from a preceding `select`. I tried to convert it to:
[code]
but I'm getting an error:
[code]
What's wrong? Thanks.

[2017-09-14 18:04] octavpo opened #79 "Accessing the model table on associations"
I have a model called `Asset`, which has an association that was expressed in squeel like:
[code]
When I try something similar in baby_squeel, it complains:
[code]
Is there any other way I can reference the model table in an association in baby_squeel? Thanks.

[2017-09-14 18:33] rzane commented on #79
I'm going to need a lot more information than what you've given. I need to know:
* What Active Record version?
* What Baby Squeel version?
* What does your schema look like?
* What do your associations look like?
* What actual Baby Squeel code did you run? You've only shown Squeel examples.

If you fill our the issue template [here](https://github.com/rzane/baby_squeel/blob/master/ISSUE_TEMPLATE.m

[2017-09-14 18:34] rzane commented on #67
Yes, I agree, but I think this is one of those things that is easier said than done. More than happy to accept a PR.

[2017-09-14 18:37] rzane commented on #76
If you're just using a SQL literal anyway, there is absolutely no reason to use Baby Squeel. You're just making the query more complicated.

Just do this: `having('team_role < team_size - 1')`

[2017-09-14 18:56] octavpo commented on #76
Well, I use sql literals only because aliases don't work otherwise. I'd be glad to write them directly as:
[code]
In squeel backticks were at least getting close.

[2017-09-14 19:05] octavpo commented on #79
Active Record 5.0.5, Baby Squeel 1.1.5. There's no other link between the two tables, the association is just what you see above. The baby_squeel code is just:
[code]
I tried with `asset` instead of `assets`, still nothing. I think there should be a way to refer the current table, maybe through something like `self` or the table name. Thanks.

[2017-09-14 21:18] rzane commented on #79
Right, but I'm not understanding how `assets` relates to `problems`. Are you joining this table?

[2017-09-14 21:19] octavpo commented on #79
Well, the above can't be true, I mean there's no other direct link between the two tables. There is a link through another table: `Asset` does have a `belongs_to :package` and Package has a `has_many :problems`. And the `using_problems` specifies `through: :package`.

[2017-09-14 21:24] rzane commented on #76
The specific issue here was fixed with: https://github.com/rzane/baby_squeel/commit/cf7d7d05f0b563a14417e146627209bae06281fe.

[2017-09-14 21:30] rzane commented on #79
Maybe try`package.assets.asset_locator`? That's literally a guess, because I have no idea what you're trying to accomplish and I have no idea what your schema looks like. I really want to help, but I created the issue template for a reason. Please use it, or I can't help you.

[2017-09-14 22:03] octavpo commented on #76
Yes that works, thanks. Btw is there a similar solution for the issue with the `1.0` above? I have it in a few places, that's also something that works fine with squeel. I also have `nil` in function calls in a number of places, that doesn't work either, although it was working fine with squeel, I guessing it's the same issue. Thanks.

[2017-09-14 23:07] octavpo commented on #79
Yes I tried that, I'm getting an error:
[code]
But my point is that even if that worked, that's not the right answer. I think it's good that unlike squeel, baby_squeel checks the column names, but it only checks them agains one table and its associations/joins. And while that's fine in most cases, I think in case of defining associations both tables should be accessible, and not by relying on reve

[2017-09-14 23:23] rzane commented on #79
So first of all, there is a way to do this:

[code]

But, this isn't going to give you table aliasing, so it's not the "ideal" solution.

I'm also about 95% certain there's a better way to handle this that exists in baby squeel. But, if you won't fill out the issue template and give me a way to reproduce your scenario, I'm not willing to dedicate any more of my time to this issue.

[2017-09-14 23:23] #79 closed

[2017-09-17 10:09] octavpo commented on #79
Not sure how filling the template would help, looks like a waste of time. If you're just wondering why the previous example fails, sorry that was my fault, I forgot to add the `.has`. So yes the `package.assets.asset_locator` does work, but like I was saying it doesn't make sense to me to only be able to access the current model table through a chain of inverse associations.
After more thought I t

[2017-09-17 11:48] octavpo opened #80 "Empty selecting doesn't combine with other selecting"
For any model I try, a query like:
[code]
or
[code]
fails with an error:
[code]
This happens when the tests in the first `selecting` are conditioned by an expression that happens to be false. I don't see how I can construct an Arel node in this case. Each of the two `selecting` work fine by themselves. Similar expressions work fine with other constructs like `where.has` and `joining`, and `select`

[2017-09-17 13:18] octavpo opened #81 "Aliases don't work in 'on' and 'select' conditions"
You have an example showing use of an alias in a join:
[code]
but an alias is useful if you can use it in conditions, like:
[code]
Does this work for you? I'm trying something similar and I'm getting an error about no column `a`. I also tried something like:
[code]
but that doesn't work either, it complains about undefined method for `id`. Is there a way to make this work? Thanks.

[2017-09-17 16:08] rzane commented on #80
Yes, this seems like a bug. Would you be willing to submit a pull request?

I think the issue probably lies here: https://github.com/rzane/baby_squeel/blob/cf7d7d05f0b563a14417e146627209bae06281fe/lib/baby_squeel/active_record/query_methods.rb#L13

[2017-09-17 16:13] rzane commented on #81
There's definitely no way to do this:

[code]

Because there would be no way to define the `a` method like that. However, #77 is intended to address what you're talking about. You'd be able to say:

[code]

[2017-09-17 22:30] octavpo commented on #81
This doesn't seem to be working for me. When I try:
[code]
I get an error:
[code]
The no-arity form:
[code]
works fine:
[code]
So I tried this:
[code]
and then I got:
[code]
The only way I could make it work is:
[code]
but then it solves nothing, as it generates the same query as the no-arity form. What I hope to get is:
[code]

[2017-09-17 22:48] rzane commented on #81
It should be:

[code]

But, seriously, I can't predict the behavior of baby squeel without knowing your schema definition and the relationships between your models. Please stop submitting issues without the issue template. The intent of the issue template is to save ME time. Thanks.

[2017-09-18 09:50] octavpo commented on #81
Are you serious? I'm not asking you to predict anything, I was asking a question about a feature that is not documented, so I wanted to know if it's supported or not. That template can be useful for bug reports that you can't reproduce. That's not what this is about. So the question is if baby_squeel supports using aliases in `on` or `where` queries. If it does, it's up to you to show how and prov

[2017-09-18 14:28] rzane commented on #81
All I'm asking for is to know your schema and your association definitions. Since this is a question, I don't need a test case. By giving me the schema and association definitions, I can run the code that I'm telling you will "probably" work and guarantee that it does work. I don't want to go back and forth with you guessing at the right solution and having you tell me that it doesn't work.

The c

[2017-09-18 14:28] #81 closed

[2017-10-06 06:45] octavpo commented on #81
Have you tested this? What sql query do you get? It's not working for me. Or better could you separate the changes for this feature from #77 and merge them? It seems #77 fails on an unrelated subquery issue. Thanks.

[2017-10-10 13:30] pelletencate commented on #67
I'm not quite a wizard with Arel, but if I have some spare time within the  next few weeks (and that's unfortunately a big if), I'll give it a try.

[2017-10-30 14:32] rainerborene opened #82 "Jsonb Selectors"
@rzane what do you think about supporting `jsonb` selectors?
https://www.postgresql.org/docs/9.4/static/functions-json.html

[2017-10-31 19:51] rainerborene commented on #82
I'll be using this monkey patch until not having this feature implemented.
[code]

[2017-10-31 19:54] rainerborene opened #83 "Support Arel.star"
use case
[code]
See here [Arel.star](https://github.com/rails/arel/blob/master/lib/arel.rb#L33-L35)

[2017-10-31 21:10] rzane commented on #82
Great idea, but, I'd rather have a separate package implement JSON types and simply integrate it here. That way, users who don't use BabySqueel could reap the benefits as well. Does that make sense?

Related: https://github.com/rails/arel/issues/288

[2017-10-31 21:12] rzane commented on #83
Duplicate of https://github.com/rzane/baby_squeel/issues/70

[2017-10-31 21:12] #83 closed

[2017-11-29 11:39] pelletencate commented on #67
@rzane I haven't had time to look into this yet. But I do realize, we may be able to steal some code from ActiveRecord, they must do something similar in their implementation of `.where`; that is, if you call `.where` multiple times on a single relation, it somehow hangs all of those together with `AND`. The exact same logic should be used using the `.with`. I haven't looked in the source code yet

[2017-11-29 17:24] octavpo commented on #67
Unless I'm missing something I don't see how that helps. For all query helpers AR just stores all user options in instance variables until the time it needs to generate the query, when it combines them appropriately. The issue here is that unlike in the case of `where`, we have these `on` conditions that AR doesn't know how to handle AFAIK. And on the other hand Arel doesn't know how to generate t

[2018-01-02 17:58] owst opened #84 "Reordering without explicit direction doesn't work with last in Rails 4"
This might be an `arel` bug rather than a `baby_squeel` bug, apologies if so!

#### Issue

When using Active Record 4,
[code]
appears to not be equivalent to
[code]
but it _is_ with Active Record 5.

Specifically, it appears that we _don't_ get a `DESC` in the resulting query in AR 4:

[code]
whereas we do in AR 5:

[code]

N.B. adding an explicit direction _does_ work in both AR versions:
[code]

[2018-01-03 21:48] kylekermgard opened #85 "Rails 5.2 support"
It looks like baby_squeel isn't working with joins in rails 5.2.0.beta2.

[2018-01-03 23:04] rzane commented on #85
Yup, this is a top priority. I'll work on this ASAP.

[2018-01-12 20:44] rzane commented on #85
Okay, I spend some time looking into this. It should be solvable, but it's going to take quite a bit more research. So far, I've identified the source of the changes that caused 5.2 to break:

* https://github.com/rails/rails/commit/8ad8bbaef8c4f521f292765a02ddb91e48160366#diff-bf6dd6226db3aab589916f09236881c7
* https://github.com/rails/rails/commit/c5ab6e51a7b9ee05a2d262a72c7130b9c1d1b0ce#diff-bf

[2018-03-09 22:03] rzane commented on #85
I'm working on this in #87. It's really close!

[2018-03-18 20:20] rainerborene commented on #71
+1

[2018-03-30 14:05] NoICE commented on #46
I am migrating from sqeel to baby_squeel (thanks for all the work!) and I came across a little issue during migration. I have master scope which selects from some huge table and then I do some filtering on it. I have a situation (multiple times in this project) where I need to reference the master table from the subquery and it throws undefined column exception.

Something like this:

[code]

mast

[2018-03-30 14:18] rzane commented on #46
Hey @NoICE, could you create a new issue? This one is tracking a pretty specific feature request. Plus, if you could fill out the issue template when you create the issue, that would be especially appreciated. I don't know what your schema looks like or how your models are associated, so without that information, it'll really, really difficult to help you.

[2018-03-30 14:51] NoICE opened #88 "Reference parent columns from subquery"
#### Issue

Is there a way to reference tables from outer scopes inside subquery?

#### Reproduction

[code]

Here, account_songs is undefined when creating `subquery`.

*EDIT: Fixed singular table names to be plural again.*

[2018-03-30 14:52] NoICE commented on #46
That was a quick response! :-) Of course, I've created minimalistic example and created new issue #88 .

[2018-03-30 15:06] rzane commented on #88
I think this is what you want:

[code]

Which, generates the following SQL:

[code]

[2018-03-30 15:12] NoICE commented on #88
Well, that looks even better and is more readable. It didn't even cross my mind that you can do it like this. Thanks a lot!

[2018-03-30 15:12] #88 closed

[2018-03-30 15:26] rzane commented on #88
You're welcome! Thanks for taking the time to detail the problem so clearly.

[2018-04-21 23:10] kapso commented on #85
`has_many` & `has_one` via `through` is breaking on Rails 5.2 because of this gem

[2018-04-25 18:30] #85 closed

[2018-04-30 10:43] wollistik opened #90 "Arel Deprecation Warning with Rails 5.2"
#### Issue
I am encountering Arel Deprecation warning with Rails 5.2. and baby_squeel 1.2.1. when using #plucking method with multiple attributes to fetch. The message is a follows:

[code]

I tried to figure out where exactly this happens, but I got stuck somewher in the DSL...

#### Reproduction

[code]

[2018-04-30 14:44] rzane commented on #90
Thanks for the detailed report. I found the source the problem. Active Record expects the arguments to pluck to be splat, instead of an array. Working on a fix over here: https://github.com/rzane/baby_squeel/pull/91.

The warning can be safely ignored in the meantime. This query above is safe and has been whitelisted.

[2018-05-04 17:16] rzane commented on #90
Just released 1.3.0, which fixes this issue.

[2018-05-04 17:16] #90 closed

[2018-05-15 00:20] pelletencate opened #92 "Intelligent Update queries"
It would be great to have the DSL available in UPDATE queries, so I can assign SQL values to fields.

Something like:

[code]

[2018-05-15 18:16] pelletencate opened #93 "Support `.nil?` in DSL"
Right now, in order to check if something IS NULL, I have to use `field == nil` in the DSL. Wouldn't it be more ruby-esque to be able to say `field.nil?` instead?

[2018-05-15 19:36] rzane commented on #93
Hmm... sort of, but this feels pretty like it would cause unexpected problems that would be really hard to figure out what went wrong. Plus, then we'd have to support `!field.nil?` to produce an `IS NOT NULL` query.

I would rather add `is_null(field)` and `is_not_null(field)`

[2018-06-05 15:05] chewi commented on #93
One problem with `field == nil` is that RuboCop keeps trying to replace it with `.nil?` !

[2018-06-13 20:03] pelletencate opened #94 "Sifters don't work on on-the-fly tables"
#### Issue

`BabySqueel[:table]` returns an object that does not respond to `sift`.

Now that I'm writing this, it make sense, it doesn't know anything about a model. However, would it be possible to add a model's sifter to a BabySqueel-initiated table object?

#### Reproduction

[code]

[2018-06-27 13:33] bhaak commented on #84
Just to clarify, this not only affects reordering but also ordering.

[2018-08-08 22:11] kapso opened #96 "Gem breaking with Rails 5.2.1"
I have a join query that started breaking after upgrading to Rails `5.2.1`

`joins(:order).where.has { order.customer_id == customer.id }`

[2018-08-08 22:15] kapso commented on #96
Closing this, looks like a Rails issue.

[2018-08-08 22:15] #96 closed

[2018-08-09 08:12] wollistik opened #97 "Breaks with Rails 5.2.1"
#### Issue

With latest Rails 5.2.1 baby_squeel breaks.

#### Reproduction

[code]

[2018-08-22 18:35] kevin-at-corista commented on #97
It sseems like it would be easy to work around Polyamorous not being maintained (for now) by requiring Ransack instead, right?

That's not the only problem. The join_dependency gem also doesn't work in 5.2.1, although I have a pending PR to fix that problem: https://github.com/rzane/join_dependency/pull/2

[2018-08-22 18:45] kevin-at-corista commented on #97
It seems even fixing both the Polyamorous requirements and the join_dependency gem, problems still remain. Running the tests gives me:

[code]

[2018-09-20 18:11] supremebeing7 opened #98 "Boolean casting goes haywire when using SQL alias"
#### Issue

When using an alias in a baby_squeel query on a boolean column, it borks the type casting that rails does automatically. On MySQL, the column value in the DB is either 1 or 0 and rails casts that to `true` or `false`. Without using an alias on the query, the casting carries through, but when I use an alias, the type casting drops off. See Repro below for details.

#### Reproduction

[c

[2018-09-21 16:10] rzane commented on #98
Yeah, I can see how this is irritating, but the behavior is actually pretty consistent. In the spec below, Active Record, Arel, and Baby Squeel all behave exactly the same way. As soon as you say `as`, all type information is lost, because they think `multiWordBool` is a totally different column.

[code]

Luckily, Active Record 5 has a very elegant solution for your specific problem: register a ty

[2018-09-21 16:10] #98 closed

[2018-09-23 18:37] pelletencate commented on #93
Yeah, the initial reason why I proposed this change was Rubocop complaining. I feel kinda stupid not thinking about `!field.nil?`, that's a more legit concern than whatever I have.

tbh, `is_null` or `is_not_null`, while it would please rubocop, would in my opinion be a step in the wrong direction. A better thing would be to have @bbatsov et al join in, to think about the possibility to provide a

[2018-09-23 19:38] bbatsov commented on #93
That's configurable. :) Obviously a static analyzer can't really figure out that something might be a special DSL. I think in such situations you can just exclude the DSL files from the checks and be done with it.

[2018-09-27 12:45] obfuscoder commented on #97
I stumbled upon this issue after trying to migrate my application from Rails 4 to 5.2.1. Whew, having polyamorous not being maintained anymore (pulled into ransack), is pretty tough. I noticed that @rzane created an issue in polyamorous back in March adressing this (https://github.com/activerecord-hackery/polyamorous/issues/38), but there hasn't been any response yet. That project looks dead to me

[2018-09-27 13:46] rzane commented on #97
Yeah, this is definitely a setback. I think I would most likely move the polyamorous codebase into join_dependency. Or, if it's possible and easier, just depend on ransack.

[2018-11-02 13:48] rogierslag commented on #97
Any more recent updates on this

[2018-11-04 18:49] rzane commented on #97
Okay, so I started digging in here. Polyamorous becoming part of Ransack is inconvenient, but not a dealbreaker. Baby Squeel can simply depend on Ransack in order to bring in Polyamorous.

However, it really sucks when this library breaks when Active Record changes. And, digging through the Active Record source code, duplicating private Active Record functionality isn't very future proof.

So, I'm

[2018-11-04 19:10] chewi commented on #97
To me, that was of the main benefits of Baby Squeel. Preloaded associations are straightforward enough but eager loaded association aliases are hard to predict. My opinion isn't worth too much though, I've just left the company where I was using Baby Squeel.

[2018-11-05 17:02] atomaka commented on #97
As @chewi outlines, predicting eager loaded association aliases is difficult and is the reason I pull baby_squeel into a project.  I'm probably in the minority, but it's the only functionality I care about that is provided by the gem.

The complexity you outline is real though and if the primary audience of this gem doesn't rely on the feature, it makes sense to remove this functionality.

[2018-11-08 12:04] wollistik commented on #97
We introduced baby_squeel because we have a lot of complex queries which were mostly written in plain SQL. Transforming them to plain ActiveRecord Relations was simply not possible and using Arel was far too complex for such huge queries. baby_squeel does this now for us and we are quite happy :tada:

Loosing one of the main features of baby_squeel is really a setback - but understandable :disappo

[2018-11-08 20:10] rzane commented on #97
Yeah, I'm revisiting my previous statements. Now that ransack has to be a dependency, we might be able to take advantage of how they resolve the aliases. Since Ransack is pretty actively maintained, this would allow us greater reliability.

I don't have a lot of time right now, so I would love it if somebody would step up and try to achieve this. I can push up a branch of what I currently have soo

[2018-12-05 01:00] vintrepid commented on #97
I forked the polyamorous gem and integrated the latest updates from the ransack gem. This is currently working for me on rails 5.2.1.1, although I am not using a lot of the baby_squeel features.

https://github.com/vintrepid/polyamorous

And in my Gemfile:

gem 'polyamorous', "~> 1.3.4", git: 'https://github.com/vintrepid/polyamorous.git'

[2018-12-06 08:38] wollistik commented on #97
Hi @vintrepid ,
problem is, that ransack/polyamorous has a bug with rails 5.2.1 and up (see https://github.com/activerecord-hackery/ransack/issues/955). That breaks baby_squeels tests (for good), so it is not safe to use this solution for now.

[2018-12-06 15:00] rzane commented on #97
@wollistik is right. I was able to get polyamorous back by bringing in Ransack as a dependency, but once I did that, all of the tests were failing for 5.2 because it would use inner join instead of left join.

I'd like to be able to isolate the problem, because I'm not 100% certain whether it's a problem with baby_squeel's usage of polyamorous or with polyamorous itself.

[2018-12-06 15:41] seanfcarroll commented on #97
Polyamorous was absorbed into Ransack as we are trying to simplify the support, and the general policy of Ransack has been to drop older versions of Rails. There are 3 options here:

1. Include Ransack into Baby Squeel to gain access to Polyamorous. This works of course, but it's bringing in a lot of unneeded code.
2. Absorb Polyamorous into Baby Squeel directly
3. Re-separate and refactor Polyamo

[2018-12-06 18:56] rzane commented on #97
Thanks for chiming in @seanfcarroll. I think bringing polyamorous into Ransack made sense for the following reasons:

1. People know where to report Ransack issues.
2. You can version them together, so you don't end up in a situation where people are using incompatible versions.
3. Keeping related code in the same repo makes development/debugging simpler.

My opinion here is that option #1 is cert

[2018-12-07 07:58] gregmolnar commented on #97
I think having polyamorous as a gem living in the same repo would be the easiest thing to do.

[2018-12-07 12:59] gregmolnar commented on #97
@rzane One thing we should iron out is, we are supporting different versions of Active Record. In ransack, we don't really want to support any non-supported version of Active Record(and I mean full support, not security patches) because it is just too much extra work and hopefully it will make more people be on recent versions. Of course, as long as it doesn't mean any extra work, we will depend >

[2018-12-07 13:20] seanfcarroll commented on #97
Great to see all of this engagement. Keeping Polyamorous as it's own gem inside Ransack works for me.

@gregmolnar 's point about aligning versions is a good one. Rails versions are moving pretty fast these days, and I think it is a fair policy for an open source project to support the currently supported Ruby & Rails versions only.

It would be a different story if there were many PRs to these pr

[2018-12-07 14:59] rzane commented on #97
Yeah, that works for me. I'm don't expect too many new features, and as such, I have no qualms about only supporting one Active Record version at a time.

[2018-12-20 05:39] nhep commented on #55
I have a very similar problem, in squeel this worked:
`PlanArea.where{ST_Intersects(perth_boundary, boundary)}`
I converted it to:
`PlanArea.where.has{ST_Intersects(perth_boundary, boundary)}`
And it throws:
[code]
So I tried your suggestion @rzane
`PlanArea.where.has{boundary.st_intersects(perth_boundary)}.to_a`
and I think it is a step forward as it calls the postgis adaptor but still throws:
[c

[2018-12-21 04:19] nhep commented on #55
I eventually worked out that I could use baby_squeel if I did this:
[code]
So I think this is a rgeo-activerecord issue not baby_squeel.  Which is why this issue is closed I guess!

[2018-12-21 17:50] rzane commented on #55
Yeah, sorry for closing. I don't think this is a baby squeel issue, but it would be cool to get it working. It seems like it should be doable 🤷‍♂️ . I personally don't use RGeo though, so I won't be of much help.

If someone figures out a nice, clean solution, it would be cool to add it to the docs.

[2018-12-28 20:59] vitalinfo commented on #97
@rzane sorry, not really following the final approach, is it possible to have `baby_squeel` with Rails 5.2.1+?

[2018-12-28 21:44] vitalinfo commented on #97
@gregmolnar unfortunately it doesn't work for me
[code]

[2018-12-28 21:49] gregmolnar commented on #97
Bummer. You can try this https://github.com/rzane/baby_squeel/issues/97#issuecomment-444317845 or wait till we make it properly work, but I can't promise a date for that.

[2018-12-28 21:52] vitalinfo commented on #97
@gregmolnar tried hour ago with the same result

[2018-12-28 22:11] vitalinfo commented on #97
@gregmolnar just an experiment have changed `find_alias` method to
[code]
and it works, but why doesn't work original implementation will investigate in the nearest days

[2019-01-02 13:42] yule commented on #97
FWIW, I got this working with a mixture of these suggestions.

` # Gemfile
 gem 'polyamorous', "~> 1.3.4", git: 'https://github.com/vintrepid/polyamorous.git'
 gem 'ransack', '2.2.1'

# initializer - monkey patch find_alias
  module JoinDependency
    class Builder
      def find_alias(associations)
        join_association = find_join_association(associations)
        reconstruct_with_type_caster

[2019-01-08 18:05] kliph opened #100 "Broken image in README.md"
#### Issue

I can no longer see the adorable baby pig in boots.

#### Reproduction

Visit https://github.com/rzane/baby_squeel in a web browser.

[2019-01-08 18:11] grubnubble commented on #100
yes, where is he

[2019-01-08 18:22] rzane commented on #100
The pig is dead. It was a grizzly scene. I don't like talking about it.

[2019-01-08 18:22] #100 closed

[2019-01-29 05:33] vitalinfo commented on #97
As I understand `find_alias` monkey patch is that what we should live with?
and @vintrepid's fork for `polyamorous`

[2019-02-07 15:18] shinronin commented on #97
@yule 's post on 1/2/2019 has enabled me to upgrade to rails 5.2.2. looking good so far.

[2019-02-08 16:51] rzane commented on #97
Just an FYI: I don't think that monkey patch is actually going to work, because of this issue: https://github.com/activerecord-hackery/ransack/issues/955. Please verify that your outer joins are behaving correctly. I suspect that all of your outer joins have become inner joins.

Rather than monkey-patching Baby Squeel, if you've found a solution that works, I would really appreciate a PR. Plus, th

[2019-02-08 16:55] vitalinfo commented on #97
@rzane yes, all left joins are going to be right joins, but without this monkey patch I have a crash, because `table` is nil, that's why I've refactored to AR `left_joins`

[2019-04-15 13:55] hlascelles commented on #97
Thank you for looking at this, baby_squeel team. We are blocked on it too. Is there a solution in the wings or something we can help with?

[2019-04-15 15:00] rzane commented on #97
Great question. @gregmolnar has been working on some fixes to polyamorous over here: https://github.com/activerecord-hackery/ransack/pull/1004.

I think we could really, really use some detective work. I haven't really had the time to dig in as much as is necessary. I have a branch that will at least run against @gregmolnar's work here: https://github.com/rzane/baby_squeel/tree/ar-521. Please read

[2019-05-02 09:32] Arpsara commented on #97
Hi! I got a similar issues with rails 5.2.3 and some has_many and has_and_belongs_to_many associations. The error I got was ArgumentError (wrong number of arguments (given 3, expected 2))
It took me a while before I understood that it was a baby_squeel problem.

The solution posted by vital info (https://github.com/rzane/baby_squeel/issues/97#issuecomment-460075620) seemed to work fine. I hope a p

[2019-05-03 18:27] pelletencate commented on #97
@Arpsara Have you tried [`ar-521`](https://github.com/rzane/baby_squeel/tree/ar-521)?

@rzane I'll try to find the time to give ar-521 a try on my codebase somewhere next week to see if our specs are gonna hold up. I know I got a few tricky alias resolution cases in there that I'll see if I can AB test.

[2019-05-06 07:46] Arpsara commented on #97
Hmm, I just tried the ar-521, I can not manage to install the polyamorous gem...

It tells me:
[code]

And I could indeed not find polyamorous version with tag 2.1.1
https://github.com/activerecord-hackery/polyamorous/tree/master

Did I do something wrong?

[2019-05-24 19:39] kbighorse commented on #65
+1 `rails 5.2.2.1`, `baby_squeel 1.3.1`

[2019-05-24 19:39] kbighorse commented on #65
using @Looooong's syntax in the meantime:
`Course.joining{ enrollments.on(id == enrollments.course_id) }.where(Enrollment.arel_table[:progress].eq(100.0))`

[2019-05-25 07:43] zubairshams commented on #97
@Arpsara  You can get latest polyamorous from ransack and then use `ar-521`
[code]

[2019-07-28 12:09] vitalinfo opened #104 "Breaks with Rails 6.0.0"
#### Issue

Trying to prepare to Rails 6.0.0 and seems like `babe_squeel` (even with patch for Rails 5.2.1+) doesn't work

`ArgumentError: wrong number of arguments (given 3, expected 2)`

#### Reproduction

[code]

[2019-08-19 14:24] typhoon2099 commented on #97
This doesn't seem to be working for me. I get the same error that @Arpsara was getting. I've tried using tag `v2.1.1` but then polyamorous isn't found at all.

[2019-08-19 14:30] gregmolnar commented on #97
@typhoon2099 polyamorous is released separately now, so you can just try:
[code]

[2019-08-19 15:08] typhoon2099 commented on #97
Using the following:
[code]
gives me the following:
[code]

[2019-08-19 15:21] gregmolnar commented on #97
@typhoon2099 you need to bump the dependency version in baby squeel in that branch. Maybe @rzane has time to sort that, but I am sure he would be happy to accept a PR handling it.

[2019-08-19 15:38] typhoon2099 commented on #97
Ah, okay, I misunderstood the workaround above.

[2019-08-19 17:55] rzane commented on #97
**Disclaimer:** Active Record >= 5.2.1 is currently **broken**. While the `ar-521` branch might appear to work, I promise you, there are some **very real problems** on that branch. I do not recommend using it.

If this was simply a matter of updating dependencies, I would have released a new version. There are numerous test failures on that branch, all stemming from the inability to locate the cor

[2019-08-29 19:58] vitalinfo commented on #104
fixed https://github.com/rzane/baby_squeel/pull/105

[2019-10-03 12:00] SaimonL opened #106 "Breaks all Rails 5 has_many through relationship"
#### Issue

In any Rails 5 application if you create has many through relation then this gem causes it to break.

#### Reproduction

Just create a new Rails 5 or 6 app and add the following model with migrations.

[code]

Now when you try to do `User.first.groups` it will cash. Remove this gem and it all works fine.

Error I get:
[code]

[2019-10-25 15:18] ndan commented on #106
Solution: https://github.com/rzane/baby_squeel/issues/97#issuecomment-522598573

[2020-03-15 15:36] gregpardo commented on #97
This may not be a solution for everyone but we found that we only used baby_squeel for a few things and I found some ways to have a decent syntax without it...

Most of our queries that used it were simple greater than or less then. I created an extension that could help like this.

[code]

Then I included in my ApplicationRecord class that all my models inherit from.
[code]

This allowed us to co

[2020-03-17 21:16] rzane commented on #97
Hey @gregpardo, I'm glad you found a simple solution.

If BabySqueel didn't have to worry about joins, it would actually be incredibly simple. Here's what that would look like in just 45 lines of code:

https://gist.github.com/rzane/8104af09369fbce3d2776c4a194e1de6

[2020-03-18 13:37] gregpardo commented on #97
@rzane Thanks thats actually pretty handy and looks more flexible than what I came up with. Will keep this in mind and hopefully it can help others.

[2020-07-17 20:27] tiagoefmoraes commented on #97
I'm having a look at this issue and found that baby_squeel started breaking after this rails commit: https://github.com/rails/rails/commit/50036e673b3b6ff41476814b212b55fabac3a638
After that commit the `join_association` at line https://github.com/rzane/baby_squeel/blob/a6a9f437974c3f77bd6d3992b2737dcb422af714/lib/baby_squeel/join_dependency.rb#L43 doesn't have values at the `@tables` and `@alias_

[2020-07-17 21:06] tiagoefmoraes commented on #97
The `tables` will be assigned to the `join_association` only later.

I raised errors on this line on baby_squeel https://github.com/rzane/baby_squeel/blob/a6a9f437974c3f77bd6d3992b2737dcb422af714/lib/baby_squeel/join_dependency.rb#L46
And this line on activerecord https://github.com/rails/rails/blob/7b5cc5a5dfcf38522be0a4b5daa97c5b2ba26c20/activerecord/lib/active_record/associations/join_dependenc

[2020-08-10 10:21] rocket-turtle opened #108 "Wrong table name when joining a polymorphic table twice"
Thank you for your time and this gem.
I am migrating from sqeel to baby_squeel and I came across a problem with polymorhic table names.

#### Issue

When I join the same polymorhic table twice in one querry and try to use both joins in the where class the second table name is incorrect.

[code]

[code]

`"dogs"."cat_name"` is not correct it should be `"cats"."cat_name"`

I think the Problem is som

[2020-08-20 18:21] rtweeks commented on #97
My team is just running into this issue now, too.  I'm wondering if BabySqueel might just force aliases on associations (and track the ones it creates) rather than trying to discover the aliases assigned dynamically by ActiveRecord?  I'd be willing to help with the implementation if this seems like a viable solution.

[2020-08-20 19:41] rzane commented on #97
@rtweeks, that would be a viable solution and would massively decrease the complexity of this library. Happy to accept pull requests!

[2020-08-25 18:47] rtweeks commented on #97
I found a quick way to fix a lot of the broken tests (about 10 of them) by directing Active Record's `JoinDependency` to construct Arel tables (including the aliases) and attach them the the `JoinAssociation`s contained in the `JoinDependency`.  This still leaves several issues with polymorphic joins and inner- vs. outer-joins.  *TL;DR* I'm still working on it.

[2020-08-25 20:59] rtweeks commented on #97
I think the polymorphism issues are because `Polyamorous` is not injecting the polymorph's join condition when a `Polyamorous::Join` is used as demonstrated here:
[code]

The output string here _should_ include  a `"pictures"."imageable_type" = 'Post'` ☹️

[2020-08-25 22:13] rtweeks commented on #97
By the same token, inner- and outer-joins seem to be getting confused by the `Polyamorous` code:
[code]

@gregmolnar and team, this is not intended in any to bash `Polyamorous`, I'm just trying to document where the tests and actual results diverge.  It could also be I'm misunderstanding how this is supposed to work.

[2020-08-26 14:03] rtweeks commented on #97
If I use the master branch (commit c9cc20de9e) of Ransack for Polyamorous, I've got it down to 2 errors from the unit tests -- the ones about `INNER JOIN`s coming after `OUTER JOIN`s:
* `rspec ./spec/integration/joining_spec.rb:152 # #joining when joining implicitly nested joins outer joins`
* `rspec ./spec/integration/joining_spec.rb:197 # #joining when joining implicitly nested joins joins a thr

[2020-09-01 16:02] rocket-turtle commented on #108
The Arel workaround didn't work well so I had to monkey patch baby_squeel.
https://github.com/rzane/baby_squeel/blob/b97fa0e314b50e6cb7855f38a17ff595cce22c79/lib/baby_squeel/join_dependency.rb

I just leave the MP here if someone has similar problems.
I would also provide merge request if any of the gem owners thinks the patch could / should go into the gem.

[code]

[2020-09-01 19:00] rtweeks commented on #97
I just opened PR #109 for this.

[2020-10-26 19:34] marnen commented on #104
Same issue here with Rails 6.0.3.2. Even the patch from #109 doesn't fix it. Is there hope for Rails 6 support in baby_squeel? Can I help somehow?

[2021-04-20 23:27] kbighorse commented on #104
I enjoy `baby_squeel`, but it is keeping me from upgrading to Rails 6. The `polyamorous` gem dependency needs to be removed, beyond @vitalinfo's PR. Is this project still active?

[2021-04-21 15:22] rzane commented on #104
@kbighorse, I haven't had the time to maintain this project. I'm willing to accept PRs, but @vitalinfo's PR doesn't pass the tests.

[2021-04-21 15:26] marnen commented on #104
@rzane That’s worrisome; baby_squeel is essential for any Rails project that does any serious database work, and it’s in all our interest to see it kept compatible with current Rails.

Can I (or someone who knows the internals better than I do) step up and help you maintain it? Should we establish a way of making donations in order to keep the project viable?

I do not want to see baby_squeel beco

[2021-04-21 16:00] vitalinfo commented on #104
@kbighorse, my solution was working for us in short term and give us opportunity to update Rails. But in the end we decided just remove this gem

[2021-04-21 17:33] kbighorse commented on #104
@vitalinfo That makes sense, I am having to consider that option as well. @marnen I'm happy to help out, although I'm just one person.

[2021-04-21 17:37] kbighorse commented on #104
@tenderlove, could Rails possibly take over ownership of this project? Perhaps with an eye to integrating it into a future release or opening up Arel? Would really love a solution to get through Rails 6 at least.

[2021-04-21 17:42] kbighorse commented on #104
@rzane could you write tests that would support Rails 6 compatibility? I am happy to take a crack at an implementation. Maybe we can convince someone on the Rails/AR/Arel team to review?

[2021-04-21 17:54] marnen commented on #104
@kbighorse My understanding is that baby_squeel exists because @ernie wrote the original Squeel intending it to be merged into ActiveRecord, the Rails core team didn’t take it, and it was too tiresome to maintain through ActiveRecord changes, or something like that. The idea of baby_squeel, I believe, was to be less closely coupled to ActiveRecord so it wouldn’t break on every Rails upgrade.

But

[2021-04-21 21:38] rzane commented on #104
Honestly, the thing that makes this library unmaintainable is trying to infer aliased table names from joined associations by poking at Active Record's JoinDependency. I [proposed that in that past](https://github.com/rzane/baby_squeel/issues/97#issuecomment-435695271), but people seemed pretty adamantly opposed to removing that functionality.

What I'd really like to do, is just create a more suc

[2021-04-21 21:42] marnen commented on #104
@rzane:

I remember that discussion. Clearly some people really need that functionality (I’ll have to analyze my own usage patterns and figure out if I’m one of them), so for them, that choice would be little better than leaving the library untouched.

Isn’t that fundamentally what this gem is already? What about this vision would be different?

[2021-04-21 21:51] rzane commented on #104
The main thing that would change is that Baby Squeel would make no attempt to infer table aliases. You'd have to manage those explicitly.

[2021-04-21 21:53] marnen commented on #104
That would probably be a deal-breaker for me, if I understand you correctly. One reason I use baby_squeel is that it does the same sort of bookkeeping that ActiveRecord does for simpler queries.

[2021-04-21 21:54] marnen commented on #104
...however, why does baby_squeel have to infer aliases at all? Can’t it construct its own aliases and keep track of them?

[2021-04-21 22:14] rzane commented on #104
Primarily because you might have joined using plain ol' Active Record: `User.joins(profile: :user).selecting { profile.user.id }`

[2021-04-21 22:15] marnen commented on #104
Right, that makes sense. Yes, I absolutely do expect that to be transparent, and not having it would remove a lot of the utility of this gem.

[2021-04-22 04:26] rzane commented on #104
Hey @marnen, I took a stab at what a simple/maintainable version of this project would look like and I'm curious what you think. https://github.com/rzane/baby_squeel/tree/experiment

It's just a first pass (doesn't support polymormic associations or scoped associations), but it's still pretty powerful. If I were to release such a thing, I'd probably do it under a different name, to avoid confusion

[2021-04-22 05:05] marnen commented on #104
@rzane Cool, will take a look. Thanks!

[2021-04-22 05:11] marnen commented on #104
@rzane OK, just took a quick look at the README. I’m not sure I see the point. It looks like the design goal of the experiment is to make the Ruby queries look like SQL rather than like (extended) ActiveRecord. If that’s so, what’s the advantage of that over writing literal SQL fragments? Composability?

I’m curious, too: does such a drastic change to the interface make it easier to decouple from

[2021-04-22 05:32] marnen commented on #104
I should mention that one of my long-term plans on my previous contract was to introduce baby_squeel into their Rails 6 application, fixing any remaining compatibility issues as part of the contract (and thus getting paid for that work :) ) and contributing to the community. Unfortunately, while the client liked the idea; that contract ended before we could make it happen.

My current employer is

[2021-04-22 16:12] rzane commented on #104
Hey @marnen (and everyone else), I want to open up more discussion, and a closed issue probably isn't the right place for that 😂 . I've created two discussions:

* [This discussion](https://github.com/rzane/baby_squeel/discussions/110) can be used to talk through Active Record 6 support. If you start working on that and need any guidance, maybe I can answer questions there.
* [This discussion](htt

[2021-04-22 16:26] marnen commented on #104
@rzane Sounds good, but I’ll also add that IMHO this issue should be reopened. The fundamental problem it represents (lack of Rails 6 support) isn’t solved.

[2021-04-22 16:41] rzane commented on #104
Good point!

[2021-06-13 14:12] rocket-turtle commented on #97
I think this issue is fixed in `1.4.0.beta1 - April 21, 2021 (20 KB)` and should be closed.

[2021-06-17 15:29] rzane commented on #108
Fixed by #108

[2021-06-17 15:29] #108 closed

[2021-06-17 15:30] #97 closed

[2021-06-18 07:17] rocket-turtle commented on #106
I think this issue is fixed in `1.4.0.beta1 - April 21, 2021 (20 KB)` and should be closed.

[2021-06-18 15:27] rzane commented on #106
I'm going to assume this is fixed, but if this is still an issue, please follow up.

[2021-06-18 15:27] #106 closed

[2021-09-23 10:56] pelletencate commented on #104
@rzane I know you're contemplating the viability of continuing working on this. That considered, I just stumbled upon https://github.com/camertron/arel-helpers/blob/master/lib/arel-helpers/join_association.rb that seems to be kept up to date pretty well.

Wouldn't using ArelHelpers to back baby_squeel be a good compromise?

[2022-02-01 12:45] yysaki opened #117 "left_joins performs INNER JOIN with ActiveRecord 6.1.4.4"
#### Issue

I try to use baby_squeel 1.4.2.
`left_joins` should perform `LEFT OUTER JOIN`, but it performs `INNER JOIN` with ActiveRecord 6.1.4.4 and later.
It doesn't occur with ActiveRecord 6.0.4.4 and below.

#### Reproduction

[code]

#### Test result

[code]

[2022-02-01 16:58] rzane commented on #117
Hey @rocket-turtle, do you have any idea what might be causing this issue? It looks like it might be a Ransack issue to me, since it's breaking Active Record itself.

[2022-02-04 06:42] rocket-turtle commented on #117
Thank you for your great bug report @yysaki.
If you start a new project I would not recommend using baby_squeel.
The DSL and function is very cool and feels natural to use but the userbase seems small and implementation is a bit hacky.
It's sad that working with aliases in AR is so broken/difficult/whatever.

@rzane This should fix the bug: https://github.com/rzane/baby_squeel/pull/118/files

[2022-02-04 06:43] rocket-turtle commented on #104
@rzane This should be solved.

[2022-02-04 12:26] yysaki commented on #117
Hi @rzane, @rocket-turtle, thanks for your prompt support.
I'm now managing a rails 5.2 app that uses this gem and investigating how to upgrade rails version.
As far as I see, it works fine at 6.0, but I came across this bug at 6.1.
So I'm thinking about how to deal with this gem.

Also, I found a similar unexpected bug in test, so I will create another issue again.

[2022-02-04 13:25] yysaki opened #119 "Nested merge-joins query causes NoMethodError with ActiveRecord 6.1.4.4"
#### Issue

Like as #117, this problem occurs with ActiveRecord 6.1.4.4 and later, but doesn't occur with ActiveRecord 6.0.4.4 and below.
The following nested merge-joins query causes NoMethodError.

[code]

#### Reproduction

[code]

<details>
<summary>Test result</summary>

[code]
</details>

[2022-02-04 15:34] rocket-turtle commented on #119
Thank you for your great bug report @yysaki.

I'll work on this on monday but I think the fix should be easy. The `construct_join_dependency` is not private.

[2022-02-04 17:10] rzane commented on #117
I just released [v1.4.3](https://rubygems.org/gems/baby_squeel/versions/1.4.3), which includes a fix for this issue.

[2022-02-04 17:10] #117 closed

[2022-02-04 17:15] #104 closed

[2022-02-04 17:21] marnen commented on #104
Does that mean that this now works with Rails 6? If so, that’s awesome news!

[2022-02-07 07:34] rocket-turtle commented on #104
Yes if I remove the `polyamorous` from the test in the issue and set the rails version to `gem 'rails', '= 6.0'` it's green.

If you find any other bugs please provide an example.

[2022-02-07 07:41] rocket-turtle commented on #119
@rzane this fix was quit small. I didn't pay attention to the method visibility :/

@yysaki Sry for your bad upgrade experiance. I got the baby_squeel tests green but haven't used the version in our application because we are still upgrading to Rails 6.0

Your test is green wirh:
`gem 'baby_squeel', branch: 'ISSUE-119', git: 'https://github.com/rocket-turtle/baby_squeel'`

If you find any other bu

[2022-02-08 06:16] rzane commented on #119
Fixed in #120

[2022-02-08 06:16] #119 closed

[2022-03-14 13:36] rocket-turtle opened #121 "The 5.2 Builds are failing with the latest ransack version."
ransack - 2.6.0 - 2022-03-08
*  Drop support for ActiveRecord older than 6.0.4. PR https://github.com/activerecord-hackery/ransack/pull/1276

https://github.com/activerecord-hackery/ransack/blob/master/CHANGELOG.md

Solution 1: Fix the version of ransack
Solution 2: Drop support for ActiveRecord older than 6.0.

[2022-03-14 13:44] rocket-turtle commented on #121
I think the 1.4.4 version of baby_squeel for Rails 5.2 is stable and does not need any more fixes for the Rails 5.2.
So we could make a 1.5 only for Rails 6.0 and above https://github.com/rzane/baby_squeel/pull/122

@rzane ransack did it in a patch version. What do you think?

[2022-03-24 14:47] akostadinov opened #123 "subqueries with same table impossible"
#### Issue

When doing a sub-query with current table, then it is not possible to compare fields from inner and outer query. This is very useful when trying to create a scope for maximum of group type of queries.

#### Reproduction

[code]

[2022-04-07 20:15] #121 closed